Repository DFE-Digital/prepare-academy-conversions, changes with the owners that CODEOWNERS names for each.
All owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe, @DrizzlyOwl, @stretch96

Deploy a File Share that can be mounted to all the containers
  terraform/README.md
  terraform/container-apps-hosting.tf
  terraform/locals.tf
  terraform/variables.tf
Owners: @DrizzlyOwl, @stretch96

[sonarcloud] Remove nullable annotation
  Dfe.PrepareConversions/Dfe.PrepareConversions/Startup.cs
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

Add Data Protection to dotnet
  Dfe.PrepareConversions/Dfe.PrepareConversions/Dfe.PrepareConversions.csproj
  Dfe.PrepareConversions/Dfe.PrepareConversions/Startup.cs
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

Add Data Protection Terraform module to deploy a Key Vault Key
  terraform/README.md
  terraform/data-protection.tf
Owners: @DrizzlyOwl, @stretch96

Updated Azure.Identity to 1.12.1 to fix build
  Dfe.PrepareConversions/Dfe.PrepareConversions/Dfe.PrepareConversions.csproj
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

Update DataProtection.Keys package to v1.3.0
  Dfe.PrepareConversions/Dfe.PrepareConversions/Dfe.PrepareConversions.csproj
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

Abstract DP service to it's own file
  Dfe.PrepareConversions/Dfe.PrepareConversions/Startup.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Utils/DataProtectionService.cs
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

Add Key Vault Data Protection to dotnet (#1076)
  Dfe.PrepareConversions/Dfe.PrepareConversions/Dfe.PrepareConversions.csproj
  Dfe.PrepareConversions/Dfe.PrepareConversions/Startup.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Utils/DataProtectionService.cs
  terraform/README.md
  terraform/container-apps-hosting.tf
  terraform/data-protection.tf
  terraform/locals.tf
  terraform/variables.tf
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe, @DrizzlyOwl, @stretch96

Add environment name into cypress notify text (#1230)
  .github/workflows/cypress.yml
Owners: @DrizzlyOwl, @stretch96

Updated Readme
  terraform/README.md
Owners: @DrizzlyOwl, @stretch96

Updated Readme
  terraform/README.md
Owners: @DrizzlyOwl, @stretch96

Add missing terraform var for data protection module
  terraform/data-protection.tf
Owners: @DrizzlyOwl, @stretch96

Add missing terraform var for data protection module (#1237)
  terraform/data-protection.tf
Owners: @DrizzlyOwl, @stretch96

Add missing data protection appsetting
  Dfe.PrepareConversions/Dfe.PrepareConversions/appsettings.json
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

Remove exception and conditionally protect keys with KV
  Dfe.PrepareConversions/Dfe.PrepareConversions/Utils/DataProtectionService.cs
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

Add missing data protection appsetting (#1240)
  Dfe.PrepareConversions/Dfe.PrepareConversions/appsettings.json
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

Updated Readme
  terraform/README.md
Owners: @DrizzlyOwl, @stretch96

Remove exception and conditionally protect keys with KV (#1241)
  Dfe.PrepareConversions/Dfe.PrepareConversions/Utils/DataProtectionService.cs
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

Switch to Azure Linux base image
  Dockerfile
  terraform/README.md
  terraform/container-apps-hosting.tf
  terraform/locals.tf
  terraform/variables.tf
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe, @DrizzlyOwl, @stretch96

Moved Data Protection configuration into it's own typed Options
  Dfe.PrepareConversions/Dfe.PrepareConversions/Configuration/DataProtectionOptions.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Startup.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Utils/DataProtectionService.cs
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

Updated workflow dependencies
  .github/workflows/build.yml
  Dfe.PrepareConversions/package-lock.json
  package-lock.json
Owners: @DrizzlyOwl, @stretch96, @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

Include tf lock file as trigger
  .github/workflows/continuous-integration-terraform.yml
Owners: @DrizzlyOwl, @stretch96

Include tf lock file as trigger (#1244)
  .github/workflows/continuous-integration-terraform.yml
Owners: @DrizzlyOwl, @stretch96

Moved Data Protection configuration into it's own typed Options (#1242)
  Dfe.PrepareConversions/Dfe.PrepareConversions/Configuration/DataProtectionOptions.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Startup.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Utils/DataProtectionService.cs
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

Switch to Azure Linux base image (#1223)
  Dockerfile
  terraform/README.md
  terraform/container-apps-hosting.tf
  terraform/locals.tf
  terraform/variables.tf
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe, @DrizzlyOwl, @stretch96

Updated workflow dependencies (#1243)
  .github/workflows/build.yml
  Dfe.PrepareConversions/package-lock.json
  package-lock.json
Owners: @DrizzlyOwl, @stretch96, @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

Stabilised version constraints
  terraform/.terraform.lock.hcl
  terraform/README.md
  terraform/container-apps-hosting.tf
  terraform/data-protection.tf
  terraform/key-vault-tfvars-secrets.tf
  terraform/statuscake-tls-monitor.tf
  terraform/versions.tf
Owners: @DrizzlyOwl, @stretch96

Optimised to use Cypress base actions
  .github/workflows/cypress.yml
Owners: @DrizzlyOwl, @stretch96

mergingtransferstoconversions
  .github/workflows/cypress.yml
Owners: @DrizzlyOwl, @stretch96

Merge Transfers into Conversion - Name Changes
  .github/workflows/cypress.yml
Owners: @DrizzlyOwl, @stretch96

Testing
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/Core-journeys/coversion_date_history_tests.cy.js
Owners: @FahadDarw

Fixing issues with transfers into conversions merge
  .github/workflows/cypress.yml
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/Core-journeys/coversion_date_history_tests.cy.js
Owners: @DrizzlyOwl, @stretch96, @FahadDarw

Reording test run
  .github/workflows/cypress.yml
Owners: @DrizzlyOwl, @stretch96

Combine reports into single artifact (cypress workflow)
  .github/workflows/cypress.yml
Owners: @DrizzlyOwl, @stretch96

Set userAgent to Conversion for Transfers test config
  Dfe.PrepareConversions/Dfe.PrepareTransfers.CypressTests/cypress.config.ts
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

Aligned Cypress configs so they match
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress.config.ts
  Dfe.PrepareConversions/Dfe.PrepareTransfers.CypressTests/cypress.config.ts
Owners: @FahadDarw, @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @mshakirdfe

Corrected expected auth header
  Dfe.PrepareConversions/Dfe.PrepareTransfers.CypressTests/cypress/support/e2e.ts
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

merge and run conversion transfers js and ts tests
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress.config.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/accessibility.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/cookiePolicy.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/createTransfer.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/decisions_test.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/filterProjects.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/schoolData.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/fixtures/decisions_test.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/fixtures/transfersLinks.json
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/fixtures/trustInformation.json
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/basePage.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/benefits.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/checkAnswers.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/dates.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/download.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/features.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/home.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/incomingTrustSearch.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/incomingTrustSearchResults.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/legalRequirements.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/newTransfer.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/newTransferProjectWithDecisions.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/outgoingTrustAcademies.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/outgoingTrustDetailsPage.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/outgoingTrustSearch.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/outgoingTrustSearchResults.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/preview.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/project.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/projectAssignment.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/rationale.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/schoolData.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/trustInformationProjectDates.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/plugins/index.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/support/e2e.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/package-lock.json
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/package.json
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/tsconfig.json
Owners: @FahadDarw

Updated readme
  terraform/README.md
Owners: @DrizzlyOwl, @stretch96

update transfers url in cypress.env file and apply in tests
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/accessibility.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/createTransfer.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/home.ts
Owners: @FahadDarw

CODEOWNERS:

* @paullocknimble @danielryannimble @dangood84 @elielijah321 @FahadDarw @mshakirdfe
/terraform/ @DrizzlyOwl @stretch96
Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests @FahadDarw
/.github/workflows @DrizzlyOwl @stretch96
