Repository DFE-Digital/prepare-academy-conversions, changes with the owners that CODEOWNERS names for each.
All owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe, @DrizzlyOwl, @stretch96

Added tracking user time spent on page in App Insight functionality
  Dfe.PrepareConversions/Dfe.PrepareConversions/Pages/Shared/_AppInsights.cshtml
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

added page view tracking script
  Dfe.PrepareConversions/Dfe.PrepareConversions/Pages/Shared/_AppInsights.cshtml
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

Update AzureRM to 4.15.0
  terraform/.terraform.lock.hcl
Owners: @DrizzlyOwl, @stretch96

Update readme
  terraform/README.md
Owners: @DrizzlyOwl, @stretch96

Set overridable configuration for minimum container count
  terraform/container-apps-hosting.tf
  terraform/locals.tf
  terraform/variables.tf
Owners: @DrizzlyOwl, @stretch96

track page view
  Dfe.PrepareConversions/Dfe.PrepareConversions/Pages/Shared/_AppInsights.cshtml
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

Sets autoTrackPageVisitTime flag
  Dfe.PrepareConversions/Dfe.PrepareConversions/Pages/Shared/_AppInsights.cshtml
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

added redis cache for session state
  Dfe.PrepareConversions/Dfe.PrepareConversions/Dfe.PrepareConversions.csproj
  Dfe.PrepareConversions/Dfe.PrepareConversions/Startup.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/appsettings.json
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

Deploy Redis Cache
  terraform/README.md
  terraform/container-apps-hosting.tf
  terraform/locals.tf
  terraform/variables.tf
Owners: @DrizzlyOwl, @stretch96

Fixed tests
  Dfe.PrepareConversions/Dfe.PrepareConversions.Tests/IntegrationTestingWebApplicationFactory.cs
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

Updated renovate.json to use the shared renovate config repository
  renovate.json
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

fixed Transfers and conversions test cases
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress.config.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/accessibility.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/createTransfer.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/BasePage.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/basePage.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/checkAnswers.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/features.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/outgoingTrustAcademies.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/outgoingTrustDetailsPage.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/preview.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/project.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/projectAssignment.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/projectTaskList.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/rationale.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/package-lock.json
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/package.json
Owners: @FahadDarw

Fixed path issue
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/Projects/AcademyAndTrustInformation/Index.cshtml
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

Fixed path issue (#1263)
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/Projects/AcademyAndTrustInformation/Index.cshtml
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

changed yml file
  .github/workflows/cypress.yml
Owners: @DrizzlyOwl, @stretch96

Update cypress.config.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress.config.js
Owners: @FahadDarw

Remove Azure Front Door CDN
  terraform/.terraform.lock.hcl
  terraform/README.md
  terraform/container-apps-hosting.tf
  terraform/locals.tf
  terraform/variables.tf
Owners: @DrizzlyOwl, @stretch96

Update deployment workflow to v4.1.0
  .github/workflows/build-and-push-image.yml
Owners: @DrizzlyOwl, @stretch96

Update cypress.yml
  .github/workflows/cypress.yml
Owners: @DrizzlyOwl, @stretch96

Added Package Validation gate to the workflows
  .github/workflows/build-and-push-image.yml
Owners: @DrizzlyOwl, @stretch96

Update package validation action to v1.1.2
  .github/workflows/build-and-push-image.yml
Owners: @DrizzlyOwl, @stretch96

Formatting
  .github/workflows/cypress.yml
Owners: @DrizzlyOwl, @stretch96

Fix: ensure dependencies get installed
  .github/workflows/cypress.yml
Owners: @DrizzlyOwl, @stretch96

Corrected paths
  .github/workflows/cypress.yml
Owners: @DrizzlyOwl, @stretch96

Fix case-sensitive import
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress.config.js
Owners: @FahadDarw

Correct casing for import statement
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/budget.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/checkAnswers.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/conversionDetails.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/localAuthorityInformation.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/outgoingTrustAcademies.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/outgoingTrustDetailsPage.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/performance.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/projectAssignment.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/projectAssignment.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/projectList.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/projectTaskList.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/pupilForecast.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/rationale.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/risksAndIssues.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/schoolOverview.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/voluntaryProjectTaskList.js
Owners: @FahadDarw

amended config file
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress.config.js
Owners: @FahadDarw

Update cypress.yml
  .github/workflows/cypress.yml
Owners: @DrizzlyOwl, @stretch96

Update README.md
  README.md
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

Fix paths in run stage
  .github/workflows/cypress.yml
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/.gitignore
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/package.json
Owners: @DrizzlyOwl, @stretch96, @FahadDarw

added Sonar linting instructions to README.md
  README.md
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

Refactored code and fixed failing tests due to misplaced files
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/Core-journeys/sponsored-conversion.cy.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/cookiePolicy.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/createTransfer.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/download.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/project.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/projectAssignment1.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/rationale1.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/trustInformationProjectDates.ts
Owners: @FahadDarw

refactored schoolData and cookiePolicy tests
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/cookiePolicy.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/schoolData.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/schoolData.ts
Owners: @FahadDarw

refactored test files to fix issues and improved cookies tests
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/Core-journeys/sponsored-conversion.cy.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/cookiePolicy.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/projectAssignmentConversion.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/rationaleConversion.js
Owners: @FahadDarw

fixed cypress.yml
  .github/workflows/cypress.yml
Owners: @DrizzlyOwl, @stretch96

updated yml
  .github/workflows/cypress.yml
Owners: @DrizzlyOwl, @stretch96

fixing YML files
  .github/workflows/cypress.yml
Owners: @DrizzlyOwl, @stretch96

fixing yml with single test
  .github/workflows/cypress.yml
Owners: @DrizzlyOwl, @stretch96

fixing yml with single test
  .github/workflows/cypress.yml
Owners: @DrizzlyOwl, @stretch96

fixing yml with single test
  .github/workflows/cypress.yml
Owners: @DrizzlyOwl, @stretch96

CODEOWNERS:

* @paullocknimble @danielryannimble @dangood84 @elielijah321 @FahadDarw @mshakirdfe
/terraform/ @DrizzlyOwl @stretch96
Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests @FahadDarw
/.github/workflows @DrizzlyOwl @stretch96
