Repository DFE-Digital/prepare-academy-conversions, changes with the owners that CODEOWNERS names for each.
All owners: @mshakirdfe, @saziadfe, @DrizzlyOwl, @stretch96

CODEOWNERS:

* @mshakirdfe @saziadfe
/terraform/ @DrizzlyOwl @stretch96
/.github/workflows @DrizzlyOwl @stretch96
Dockerfile @DrizzlyOwl @stretch96
Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests @mshakirdfe @saziadfe

Fixed integration test
  Dfe.PrepareConversions/Dfe.PrepareConversions.Tests/Pages/BaseIntegrationTests.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions.Tests/Pages/Public/AccessibilityStatementTests.cs
Owners: @mshakirdfe, @saziadfe

Updated key vault module for resolving `local-exec provisioner error` error
  terraform/README.md
  terraform/key-vault-tfvars-secrets.tf
Owners: @DrizzlyOwl, @stretch96

Update release-notes.md
  release-notes.md
Owners: @mshakirdfe, @saziadfe

updated link
  Dfe.PrepareConversions/Dfe.PrepareConversions/Models/Links.cs
Owners: @mshakirdfe, @saziadfe

removed obsolete link
  Dfe.PrepareConversions/Dfe.PrepareConversions/Models/Links.cs
Owners: @mshakirdfe, @saziadfe

Attempt to implement the redirect for Transfer projects - Currently getting a 404
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/Shared/OfstedSummary/_SummaryRows.cshtml
Owners: @mshakirdfe, @saziadfe

update release-notes.md to follow the standard format
  release-notes.md
Owners: @mshakirdfe, @saziadfe

Ofset report link for Transfers
  Dfe.PrepareConversions/Dfe.PrepareConversions.Data/Services/EstablishmentService.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions.Data/Services/IGetEstablishment.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/Projects/LatestOfstedJudgement/Index.cshtml.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/Shared/OfstedSummary/_SummaryRows.cshtml
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/TaskList/HtbDocument/Preview.cshtml.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Services/GetEstablishmentItemCacheDecorator.cs
  Dfe.PrepareConversions/Dfe.PrepareTransfers.Web.Tests/BaseTests.cs
  Dfe.PrepareConversions/Dfe.PrepareTransfers.Web.Tests/PagesTests/Projects/LatestOfstedJudgement/IndexTests.cs
Owners: @mshakirdfe, @saziadfe

Unit tests
  Dfe.PrepareConversions/Dfe.PrepareConversions.Data.Tests/Services/EstablishmentServiceTests.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions.Data/Services/EstablishmentService.cs
Owners: @mshakirdfe, @saziadfe

Code refactoring
  Dfe.PrepareConversions/Dfe.PrepareConversions.Data.Tests/Services/EstablishmentServiceTests.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions.Data/Services/EstablishmentService.cs
Owners: @mshakirdfe, @saziadfe

use h2 element instead
  Dfe.PrepareConversions/Dfe.PrepareConversions/Pages/Shared/_ProjectListFilters.cshtml
Owners: @mshakirdfe, @saziadfe

Added more tests
  Dfe.PrepareConversions/Dfe.PrepareConversions.Data/Services/EstablishmentService.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions.Tests/Services/GetEstablishmentItemCacheDecoratorTests.cs
Owners: @mshakirdfe, @saziadfe

Updated app settings
  Dfe.PrepareConversions/Dfe.PrepareConversions/appsettings.Development.json
  Dfe.PrepareConversions/Dfe.PrepareConversions/appsettings.Production.json
  Dfe.PrepareConversions/Dfe.PrepareConversions/appsettings.Test.json
Owners: @mshakirdfe, @saziadfe

duplicate apply filters button
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/Shared/_ProjectListFilters.cshtml
  Dfe.PrepareConversions/Dfe.PrepareConversions/Pages/Shared/_ProjectListFilters.cshtml
  release-notes.md
Owners: @mshakirdfe, @saziadfe

update hidden text for change PFI scheme link on school overview
  Dfe.PrepareConversions/Dfe.PrepareConversions/Pages/Components/SchoolOverview/default.cshtml
  release-notes.md
Owners: @mshakirdfe, @saziadfe

update unit tests
  Dfe.PrepareConversions/Dfe.PrepareConversions.Tests/Pages/TaskList/SchoolOverview/ConfirmSchoolOverviewIntegrationTests.cs
Owners: @mshakirdfe, @saziadfe

apply to transfers
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/Shared/_ProjectListFilters.cshtml
Owners: @mshakirdfe, @saziadfe

click first of the two apply buttons in cypress tests
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/Core-journeys/filteration-test.cy.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/SchoolImprovementPage.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/conversionDateChangePage.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/decisionPage.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/home.ts
Owners: @mshakirdfe, @saziadfe

sonar fix - duplicate code
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/Core-journeys/filteration-test.cy.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/SchoolImprovementPage.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/conversionDateChangePage.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/decisionPage.js
Owners: @mshakirdfe, @saziadfe

sonar ignore cypress
  SonarQube.Analysis.xml
Owners: @mshakirdfe, @saziadfe

feature/257437 duplicate apply filters button (#1434)
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/Core-journeys/filteration-test.cy.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/SchoolImprovementPage.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/conversionDateChangePage.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/decisionPage.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/home.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/Shared/_ProjectListFilters.cshtml
  Dfe.PrepareConversions/Dfe.PrepareConversions/Pages/Shared/_ProjectListFilters.cshtml
  SonarQube.Analysis.xml
  release-notes.md
Owners: @mshakirdfe, @saziadfe

feature/257436 The 'search for projects' visual heading has no heading tag (#1433)
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/Shared/_ProjectListFilters.cshtml
  Dfe.PrepareConversions/Dfe.PrepareConversions/Pages/Shared/_ProjectListFilters.cshtml
Owners: @mshakirdfe, @saziadfe

update hidden text for change PFI scheme link on school overview (#1435)
  Dfe.PrepareConversions/Dfe.PrepareConversions.Tests/Pages/TaskList/SchoolOverview/ConfirmSchoolOverviewIntegrationTests.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Pages/Components/SchoolOverview/default.cshtml
  release-notes.md
Owners: @mshakirdfe, @saziadfe

release notes 1.27.0
  release-notes.md
Owners: @mshakirdfe, @saziadfe

release notes 1.27.0 (#1436)
  release-notes.md
Owners: @mshakirdfe, @saziadfe

move cypress env variables to constants
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/constants/cypressConstants.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/Core-journeys/filteration-test.cy.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/accessibility.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/cookiePolicy.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/createTransfer.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/decisions_test.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/fixtures/decisions_test.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/home.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/newTransferProjectWithDecisions.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/project.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/projectList.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/projectTaskList.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/support/commands.js
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/support/e2e.js
Owners: @mshakirdfe, @saziadfe

remove tags as there is no reference to them
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/Core-journeys/filteration-test.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/Core-journeys/sponsored-conversion.cy.ts
Owners: @mshakirdfe, @saziadfe

remove sonar duplication exclusion for pages
  SonarQube.Analysis.xml
Owners: @mshakirdfe, @saziadfe

add lint formatting files
  .github/workflows/cypress-lint.yml
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/.editorconfig
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/.gitignore
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/.prettierignore
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/.prettierrc
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/.vscode/extensions.json
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/.vscode/settings.json
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/eslint.config.cjs
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/package.json
Owners: @DrizzlyOwl, @stretch96, @mshakirdfe, @saziadfe

corrections
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/.editorconfig
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/package-lock.json
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/package.json
Owners: @mshakirdfe, @saziadfe

fix linting errors that wouldn't fix
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/filterProjects.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/plugins/generateZapReport.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/eslint.config.cjs
Owners: @mshakirdfe, @saziadfe

delete duplicate test
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/fixtures/decisions_test.cy.ts
Owners: @mshakirdfe, @saziadfe

remove cookie command as this is done by default
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/support/commands.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/support/index.d.ts
Owners: @mshakirdfe, @saziadfe

refactor
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/constants/testConstants.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/Core-journeys/filteration-test.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/Core-journeys/sponsored-conversion.cy.ts
Owners: @mshakirdfe, @saziadfe

rename tests folder to conversions
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/conversions/coversion_date_history_tests.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/conversions/decisions_tests.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/conversions/filteration-test.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/conversions/school_improvement_plan_test.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/conversions/sponsored-conversion.cy.ts
Owners: @mshakirdfe, @saziadfe

fix
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/accessibility.cy.ts
Owners: @mshakirdfe, @saziadfe

refactor - move methods to commands.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/conversions/decisions_tests.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/conversions/filteration-test.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/accessibility.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/benefits.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/budget.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/dates.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/decisionPage.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/download.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/features.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/home.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/incomingTrustSearch.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/incomingTrustSearchResults.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/legalRequirements.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/newTransferProjectWithDecisions.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/outgoingTrustAcademies.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/outgoingTrustSearch.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/project.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/projectAssignment.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/projectList.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/projectTaskList.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/rationale.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/schoolData.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/schoolOverview.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/trustInformationProjectDates.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/support/commands.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/support/e2e.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/support/index.d.ts
Owners: @mshakirdfe, @saziadfe

refactor - remove redundant url & add run configs
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress.config.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/constants/cypressConstants.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/conversions/coversion_date_history_tests.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/conversions/decisions_tests.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/conversions/filteration-test.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/conversions/school_improvement_plan_test.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/accessibility.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/cookiePolicy.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/createTransfer.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/decisions_test.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/filterProjects.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/schoolData.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/decisionPage.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/home.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/project.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/projectList.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/projectTaskList.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/support/commands.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/support/e2e.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/package-lock.json
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/package.json
Owners: @mshakirdfe, @saziadfe

fix script
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/package.json
Owners: @mshakirdfe, @saziadfe

remove redundant hard wait
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/cookiePolicy.cy.ts
Owners: @mshakirdfe, @saziadfe
