Repository DFE-Digital/prepare-academy-conversions, changes with the owners that CODEOWNERS names for each.
All owners: @mshakirdfe, @saziadfe, @DrizzlyOwl, @stretch96

fix
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/project.ts
Owners: @mshakirdfe, @saziadfe

fix accessibility tests
  .github/workflows/cypress.yml
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/general/accessibility.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/general/cookiePolicy.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/accessibility.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/fixtures/conversionLinks.json
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/fixtures/otherLinks.json
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/fixtures/transfersLinks.json
Owners: @DrizzlyOwl, @stretch96, @mshakirdfe, @saziadfe

move accessibility and cookie back to /transfers folder
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/accessibility.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/cookiePolicy.cy.ts
Owners: @mshakirdfe, @saziadfe

fix test
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/outgoingTrustSearch.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/support/commands.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/support/e2e.ts
Owners: @mshakirdfe, @saziadfe

refactor cookie tests to use page object model
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/cookiePolicy.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/cookiePolicyPage.ts
Owners: @mshakirdfe, @saziadfe

rename file
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/conversions/conversion_date_history_tests.cy.ts
Owners: @mshakirdfe, @saziadfe

accept cookies before tests
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/conversions/conversion_date_history_tests.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/conversions/decisions_tests.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/conversions/filteration-test.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/conversions/school_improvement_plan_test.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/conversions/sponsored-conversion.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/createTransfer.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/decisions_test.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/filterProjects.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/schoolData.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/support/commands.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/support/e2e.ts
Owners: @mshakirdfe, @saziadfe

remove cookie logic from test
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/projectTaskList.ts
Owners: @mshakirdfe, @saziadfe

add logging to accessibility tests
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/accessibility.cy.ts
Owners: @mshakirdfe, @saziadfe

remove redundant cypress secrets in cypress.yml
  .github/workflows/cypress.yml
Owners: @DrizzlyOwl, @stretch96

reorder tests to fix cookie test failing on pipeline
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/cookiePolicy.cy.ts
Owners: @mshakirdfe, @saziadfe

add 1 retry
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress.config.ts
Owners: @mshakirdfe, @saziadfe

try conversions cookie consent name
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/cookiePolicyPage.ts
Owners: @mshakirdfe, @saziadfe

revert attempts to fix cookie test
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/cookiePolicy.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/cookiePolicyPage.ts
Owners: @mshakirdfe, @saziadfe

attempt to fix failing pipeline test
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/cookiePolicy.cy.ts
Owners: @mshakirdfe, @saziadfe

debug cookie issue
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/cookiePolicy.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/cookiePolicyPage.ts
Owners: @mshakirdfe, @saziadfe

debug cookie issue
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/cookiePolicyPage.ts
Owners: @mshakirdfe, @saziadfe

add explicit timeout to cookie wait
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/cookiePolicyPage.ts
Owners: @mshakirdfe, @saziadfe

move a11y tests to run across tests instead across specified links
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/conversions/conversion_date_history_tests.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/conversions/decisions_tests.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/conversions/filteration-test.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/conversions/school_improvement_plan_test.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/conversions/sponsored-conversion.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/accessibility.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/cookiePolicy.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/createTransfer.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/decisions_test.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/filterProjects.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/schoolData.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/fixtures/conversionLinks.json
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/fixtures/otherLinks.json
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/fixtures/transfersLinks.json
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/support/commands.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/support/e2e.ts
Owners: @mshakirdfe, @saziadfe

sonar fix
  .github/workflows/cypress-lint.yml
Owners: @DrizzlyOwl, @stretch96

refactor filter test
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/conversions/filteration-test.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/filterPage.ts
Owners: @mshakirdfe, @saziadfe

refactor based on sonar
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/conversions/school_improvement_plan_test.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/SchoolImprovementPage.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/budget.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/conversionDateChangePage.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/conversionDetails.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/cookiePolicyPage.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/localAuthorityInformation.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/performance.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/projectAssignmentConversion.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/projectList.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/projectTaskList.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/publicSectorEqualityDutyImpact.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/pupilForecast.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/rationaleConversion.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/risksAndIssues.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/schoolOverview.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/plugins/generateZapReport.ts
Owners: @mshakirdfe, @saziadfe

fix and refactor filtration test
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/conversions/filteration-test.cy.ts
Owners: @mshakirdfe, @saziadfe

fix and refactor filtration test
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/conversions/filteration-test.cy.ts
Owners: @mshakirdfe, @saziadfe

update cypress config
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress.config.ts
Owners: @mshakirdfe, @saziadfe

add logs for failing pipeline test
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/cookiePolicyPage.ts
Owners: @mshakirdfe, @saziadfe

remove logging
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/cookiePolicyPage.ts
Owners: @mshakirdfe, @saziadfe

update packages
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/support/e2e.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/package-lock.json
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/package.json
Owners: @mshakirdfe, @saziadfe

update cypress.yml to only output 1 report to teams
  .github/workflows/cypress.yml
Owners: @DrizzlyOwl, @stretch96

update cypress.yml to only output 1 report to teams
  .github/workflows/build-and-push-image.yml
  .github/workflows/cypress.yml
Owners: @DrizzlyOwl, @stretch96

sonar fix
  .github/workflows/cypress.yml
Owners: @DrizzlyOwl, @stretch96

README update for Cypress
  README.md
Owners: @mshakirdfe, @saziadfe

lint fix
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/.prettierrc
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/package-lock.json
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/package.json
Owners: @mshakirdfe, @saziadfe

lint fix
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/.prettierrc
Owners: @mshakirdfe, @saziadfe

sonar fix
  .github/workflows/cypress.yml
Owners: @DrizzlyOwl, @stretch96

unskip and fix tests
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/createTransfer.cy.ts
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/pages/project.ts
Owners: @mshakirdfe, @saziadfe

Update TenantId in appsettings.Development.json
  Dfe.PrepareConversions/Dfe.PrepareConversions/appsettings.Development.json
Owners: @mshakirdfe, @saziadfe

Update TenantId in appsettings.Test.json
  Dfe.PrepareConversions/Dfe.PrepareConversions/appsettings.Test.json
Owners: @mshakirdfe, @saziadfe

Update TenantId in appsettings.Production.json
  Dfe.PrepareConversions/Dfe.PrepareConversions/appsettings.Production.json
Owners: @mshakirdfe, @saziadfe

Updated regional group feedback link
  Dfe.PrepareConversions/Dfe.PrepareConversions/Pages/Shared/_Layout.cshtml
  Dfe.PrepareConversions/Dfe.PrepareConversions/appsettings.json
Owners: @mshakirdfe, @saziadfe

CODEOWNERS:

* @mshakirdfe @saziadfe
/terraform/ @DrizzlyOwl @stretch96
/.github/workflows @DrizzlyOwl @stretch96
Dockerfile @DrizzlyOwl @stretch96
Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests @mshakirdfe @saziadfe
