Repository DFE-Digital/prepare-academy-conversions, changes with the owners that CODEOWNERS names for each.
All owners: @mshakirdfe, @saziadfe, @DrizzlyOwl, @stretch96

CODEOWNERS:

* @mshakirdfe @saziadfe
/terraform/ @DrizzlyOwl @stretch96
/.github/workflows @DrizzlyOwl @stretch96
Dockerfile @DrizzlyOwl @stretch96
Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests @mshakirdfe @saziadfe

Done with Transfers Pdf document
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/TaskList/HtbDocument/Download.cshtml
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/TaskList/HtbDocument/Download.cshtml.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Services/CreateProjectTemplatePdf.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Services/Interfaces/ICreateProjectTemplatePdf.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Services/PdfDocumentGenerator.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Services/PdfGeneratorExtensions.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Services/DocumentGenerator/PdfGeneratorExtensions.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Utils/TransfersExtensions.cs
  Dfe.PrepareConversions/Dfe.PrepareTransfers.Web.Tests/PagesTests/TaskList/HtbDocument/DownloadTests.cs
Owners: @mshakirdfe, @saziadfe

Update release notes for version 1.27.5
  release-notes.md
Owners: @mshakirdfe, @saziadfe

Update release notes for version 1.27.5
  release-notes.md
Owners: @mshakirdfe, @saziadfe

release notes 1.28.0
  release-notes.md
Owners: @mshakirdfe, @saziadfe

release notes 1.28.0 (#1453)
  release-notes.md
Owners: @mshakirdfe, @saziadfe

Upgrade to .NET10
  .github/workflows/build.yml
  Dfe.PrepareConversions/Dfe.PrepareConversions.Data.Tests/Dfe.PrepareConversions.Data.Tests.csproj
  Dfe.PrepareConversions/Dfe.PrepareConversions.Data/Dfe.PrepareConversions.Data.csproj
  Dfe.PrepareConversions/Dfe.PrepareConversions.DocumentGeneration.Tests/Dfe.PrepareConversions.DocumentGeneration.Tests.csproj
  Dfe.PrepareConversions/Dfe.PrepareConversions.DocumentGeneration/Dfe.PrepareConversions.DocumentGeneration.csproj
  Dfe.PrepareConversions/Dfe.PrepareConversions.Tests/Dfe.PrepareConversions.Tests.csproj
  Dfe.PrepareConversions/Dfe.PrepareConversions/Dfe.PrepareConversions.csproj
  Dfe.PrepareConversions/Dfe.PrepareConversions/Dockerfile
  Dfe.PrepareConversions/Dfe.PrepareConversions/Properties/launchSettings.json
  Dfe.PrepareConversions/Dfe.PrepareTransfers.Data.TRAMS.Tests/Dfe.PrepareTransfers.Data.TRAMS.Tests.csproj
  Dfe.PrepareConversions/Dfe.PrepareTransfers.Data.TRAMS/Dfe.PrepareTransfers.Data.TRAMS.csproj
  Dfe.PrepareConversions/Dfe.PrepareTransfers.Data/Dfe.PrepareTransfers.Data.csproj
  Dfe.PrepareConversions/Dfe.PrepareTransfers.Helpers/Dfe.PrepareTransfers.Helpers.csproj
  Dfe.PrepareConversions/Dfe.PrepareTransfers.Web.Tests/Dfe.PrepareTransfers.Web.Tests.csproj
  Dockerfile
Owners: @DrizzlyOwl, @stretch96, @mshakirdfe, @saziadfe

update EAT API Nuget package
  Dfe.PrepareConversions/Dfe.PrepareConversions/Dfe.PrepareConversions.csproj
Owners: @mshakirdfe, @saziadfe

update release notes
  release-notes.md
Owners: @mshakirdfe, @saziadfe

Update the packages
  Dfe.PrepareConversions/Dfe.PrepareConversions.Tests/Dfe.PrepareConversions.Tests.csproj
  Dfe.PrepareConversions/Dfe.PrepareConversions/Dfe.PrepareConversions.csproj
Owners: @mshakirdfe, @saziadfe

update Public Sector Equality Duty and Template preview/creation to be read only/unavailable when decision has been recorded
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/Projects/Index.cshtml
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/Projects/PublicSectorEqualityDuty/Task.cshtml
  Dfe.PrepareConversions/Dfe.PrepareConversions/Pages/TaskList/PublicSectorEqualityDuty/Task.cshtml
  release-notes.md
Owners: @mshakirdfe, @saziadfe

hide template task too
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/Projects/Index.cshtml
Owners: @mshakirdfe, @saziadfe

Update release notes for version 1.28.1
  release-notes.md
Owners: @mshakirdfe, @saziadfe

Update remaining packages
  Dfe.PrepareConversions/Dfe.PrepareConversions.Data.Tests/Dfe.PrepareConversions.Data.Tests.csproj
  Dfe.PrepareConversions/Dfe.PrepareConversions.Data/Dfe.PrepareConversions.Data.csproj
  Dfe.PrepareConversions/Dfe.PrepareConversions.DocumentGeneration.Tests/Dfe.PrepareConversions.DocumentGeneration.Tests.csproj
  Dfe.PrepareConversions/Dfe.PrepareConversions.Tests/Dfe.PrepareConversions.Tests.csproj
  Dfe.PrepareConversions/Dfe.PrepareConversions/Dfe.PrepareConversions.csproj
  Dfe.PrepareConversions/Dfe.PrepareTransfers.Data.TRAMS.Tests/Dfe.PrepareTransfers.Data.TRAMS.Tests.csproj
  Dfe.PrepareConversions/Dfe.PrepareTransfers.Data.TRAMS/Dfe.PrepareTransfers.Data.TRAMS.csproj
  Dfe.PrepareConversions/Dfe.PrepareTransfers.Data/Dfe.PrepareTransfers.Data.csproj
  Dfe.PrepareConversions/Dfe.PrepareTransfers.Web.Tests/Dfe.PrepareTransfers.Web.Tests.csproj
Owners: @mshakirdfe, @saziadfe

Code smell fix
  Dfe.PrepareConversions/Dfe.PrepareConversions/Startup.cs
Owners: @mshakirdfe, @saziadfe

Upgrade to .NET10 (#1454)
  .github/workflows/build.yml
  Dfe.PrepareConversions/Dfe.PrepareConversions.Data.Tests/Dfe.PrepareConversions.Data.Tests.csproj
  Dfe.PrepareConversions/Dfe.PrepareConversions.Data/Dfe.PrepareConversions.Data.csproj
  Dfe.PrepareConversions/Dfe.PrepareConversions.DocumentGeneration.Tests/Dfe.PrepareConversions.DocumentGeneration.Tests.csproj
  Dfe.PrepareConversions/Dfe.PrepareConversions.DocumentGeneration/Dfe.PrepareConversions.DocumentGeneration.csproj
  Dfe.PrepareConversions/Dfe.PrepareConversions.Tests/Dfe.PrepareConversions.Tests.csproj
  Dfe.PrepareConversions/Dfe.PrepareConversions/Dfe.PrepareConversions.csproj
  Dfe.PrepareConversions/Dfe.PrepareConversions/Dockerfile
  Dfe.PrepareConversions/Dfe.PrepareConversions/Properties/launchSettings.json
  Dfe.PrepareConversions/Dfe.PrepareConversions/Startup.cs
  Dfe.PrepareConversions/Dfe.PrepareTransfers.Data.TRAMS.Tests/Dfe.PrepareTransfers.Data.TRAMS.Tests.csproj
  Dfe.PrepareConversions/Dfe.PrepareTransfers.Data.TRAMS/Dfe.PrepareTransfers.Data.TRAMS.csproj
  Dfe.PrepareConversions/Dfe.PrepareTransfers.Data/Dfe.PrepareTransfers.Data.csproj
  Dfe.PrepareConversions/Dfe.PrepareTransfers.Helpers/Dfe.PrepareTransfers.Helpers.csproj
  Dfe.PrepareConversions/Dfe.PrepareTransfers.Web.Tests/Dfe.PrepareTransfers.Web.Tests.csproj
  Dockerfile
  release-notes.md
Owners: @DrizzlyOwl, @stretch96, @mshakirdfe, @saziadfe

release notes 1.29.0
  release-notes.md
Owners: @mshakirdfe, @saziadfe

release notes 1.29.0 (#1457)
  release-notes.md
Owners: @mshakirdfe, @saziadfe

fetch mp name and party from persons
  .gitignore
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/Projects/GeneralInformation/Index.cshtml
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/Projects/GeneralInformation/Index.cshtml.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/TaskList/HtbDocument/Preview.cshtml.cs
  release-notes.md
Owners: @mshakirdfe, @saziadfe

remove ability to change MP name manually
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/Projects/GeneralInformation/MPNameAndParty.cshtml
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/Projects/GeneralInformation/MPNameAndParty.cshtml.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/Shared/_GeneralInformation.cshtml
Owners: @mshakirdfe, @saziadfe

rename MP field label
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/Shared/_GeneralInformation.cshtml
Owners: @mshakirdfe, @saziadfe

resolve tests
  Dfe.PrepareConversions/Dfe.PrepareTransfers.Web.Tests/PagesTests/Projects/GeneralInformation/IndexTests.cs
Owners: @mshakirdfe, @saziadfe

fix a broken test on test - working locally
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/Shared/_GeneralInformation.cshtml
Owners: @mshakirdfe, @saziadfe

fetch mp name and party from persons
  .gitignore
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/Projects/GeneralInformation/Index.cshtml
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/Projects/GeneralInformation/Index.cshtml.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/TaskList/HtbDocument/Preview.cshtml.cs
  release-notes.md
Owners: @mshakirdfe, @saziadfe

remove ability to change MP name manually
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/Projects/GeneralInformation/MPNameAndParty.cshtml
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/Projects/GeneralInformation/MPNameAndParty.cshtml.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/Shared/_GeneralInformation.cshtml
Owners: @mshakirdfe, @saziadfe

rename MP field label
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/Shared/_GeneralInformation.cshtml
Owners: @mshakirdfe, @saziadfe

resolve tests
  Dfe.PrepareConversions/Dfe.PrepareTransfers.Web.Tests/PagesTests/Projects/GeneralInformation/IndexTests.cs
Owners: @mshakirdfe, @saziadfe

fix a broken test on test - working locally
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/Shared/_GeneralInformation.cshtml
Owners: @mshakirdfe, @saziadfe

Update GitHub action package validation to V1
  .github/workflows/build-and-push-image.yml
Owners: @DrizzlyOwl, @stretch96

Unified Intake
  Dfe.PrepareConversions/Dfe.PrepareConversions/Pages/Shared/_Footer.cshtml
  Dfe.PrepareConversions/Dfe.PrepareConversions/Pages/Shared/_Footer_Intake.cshtml
  Dfe.PrepareConversions/Dfe.PrepareConversions/Pages/Shared/_Layout.cshtml
Owners: @mshakirdfe, @saziadfe

css bug fix
  Dfe.PrepareConversions/Dfe.PrepareConversions/Pages/Shared/_Footer_Intake.cshtml
  Dfe.PrepareConversions/Dfe.PrepareConversions/Pages/Shared/_Layout.cshtml
Owners: @mshakirdfe, @saziadfe

Added new env keys. Now redirects to Unified Intake
  Dfe.PrepareConversions/Dfe.PrepareConversions/Pages/Shared/_Footer_Intake.cshtml
  Dfe.PrepareConversions/Dfe.PrepareConversions/appsettings.json
Owners: @mshakirdfe, @saziadfe

update zap security tests and output to teams
  .github/workflows/build-and-push-image.yml
  .github/workflows/security-tests.yml
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/package-lock.json
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/package.json
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/scripts/send-zap-teams-notification.js
Owners: @DrizzlyOwl, @stretch96, @mshakirdfe, @saziadfe

update zap security tests and output to teams
  .github/workflows/security-tests.yml
Owners: @DrizzlyOwl, @stretch96

fix cypress secrets
  .github/workflows/build-and-push-image.yml
  .github/workflows/security-tests.yml
Owners: @DrizzlyOwl, @stretch96

fix
  .github/workflows/security-tests.yml
Owners: @DrizzlyOwl, @stretch96

ensure cypress only runs once against each env
  .github/workflows/build-and-push-image.yml
  .github/workflows/cypress.yml
  .github/workflows/security-tests.yml
Owners: @DrizzlyOwl, @stretch96

update fetchScanResults to match report
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/scripts/send-zap-teams-notification.js
Owners: @mshakirdfe, @saziadfe

Feature/288866 security tests (#1461)
  .github/workflows/build-and-push-image.yml
  .github/workflows/cypress.yml
  .github/workflows/security-tests.yml
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/package-lock.json
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/package.json
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/scripts/send-zap-teams-notification.js
Owners: @DrizzlyOwl, @stretch96, @mshakirdfe, @saziadfe

Update error message for unavailable MP name in General Information and School Overview pages
  Dfe.PrepareConversions/Dfe.PrepareConversions/Areas/Transfers/Pages/Projects/GeneralInformation/Index.cshtml.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Pages/TaskList/SchoolOverview/SchoolOverview.cshtml.cs
Owners: @mshakirdfe, @saziadfe

WIP
  Dfe.PrepareConversions/Dfe.PrepareConversions.Data/Features/ApiClient.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions.Data/Features/IApiClient.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions.Data/Features/PathFor.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions.Data/Models/AcademyConversionProject.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions.Data/Models/SetProjectDatesModel.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions.Data/Models/SetSfsoCommissioningModel.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions.Data/Services/AcademyConversionProjectRepository.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions.Data/Services/IAcademyConversionProjectRepository.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Models/Links.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Pages/TaskList/Index.cshtml
  Dfe.PrepareConversions/Dfe.PrepareConversions/Pages/TaskList/ProjectDates/AdvisoryBoardDate.cshtml.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Pages/TaskList/ProjectDates/ConfirmProjectDates.cshtml.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Pages/TaskList/ProjectDates/PreviousAdvisoryBoardDate.cshtml.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Pages/TaskList/ProjectDates/ProposedConversionDate.cshtml.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Pages/TaskList/ProjectDates/ReasonForConversionDateChange.cshtml.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Pages/TaskList/RequestFinancialHealthAssessment/RequestFinancialHealthAssessment.cshtml
  Dfe.PrepareConversions/Dfe.PrepareConversions/Pages/TaskList/RequestFinancialHealthAssessment/RequestFinancialHealthAssessment.cshtml.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Services/AcademyConversionProjectItemsCacheDecorator.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Utils/SfsoCommissioning.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/ViewModels/ProjectViewModel.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/ViewModels/TaskListItemViewModel.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/ViewModels/TaskListViewModel.cs
Owners: @mshakirdfe, @saziadfe
