Repository DFE-Digital/prepare-academy-conversions, changes with the owners that CODEOWNERS names for each.
All owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe, @DrizzlyOwl, @stretch96

CODEOWNERS:

* @paullocknimble @danielryannimble @dangood84 @elielijah321 @FahadDarw @mshakirdfe
/terraform/ @DrizzlyOwl @stretch96
Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests @FahadDarw
/.github/workflows @DrizzlyOwl @stretch96

fixing yml with single test
  .github/workflows/cypress.yml
Owners: @DrizzlyOwl, @stretch96

fixing yml with single test
  .github/workflows/cypress.yml
Owners: @DrizzlyOwl, @stretch96

fixing yml with single test
  .github/workflows/cypress.yml
Owners: @DrizzlyOwl, @stretch96

fixing yml with single test
  .github/workflows/cypress.yml
Owners: @DrizzlyOwl, @stretch96

fixing yml with single test
  .github/workflows/cypress.yml
Owners: @DrizzlyOwl, @stretch96

refactoring cookies test for Transfers
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/e2e/transfers/cookiePolicy.cy.ts
Owners: @FahadDarw

Updated Readme
  terraform/README.md
Owners: @DrizzlyOwl, @stretch96

Enable trace monitoring
  terraform/README.md
  terraform/container-apps-hosting.tf
  terraform/locals.tf
  terraform/variables.tf
Owners: @DrizzlyOwl, @stretch96

removed @type/cypress package
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/package-lock.json
  Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/package.json
  package.json
Owners: @FahadDarw, @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @mshakirdfe

removed unwanted package.json file
  package.json
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

Add Redis service to dotnet test CI workflow
  .github/workflows/build.yml
Owners: @DrizzlyOwl, @stretch96

Remove Sentry.io packages and references
  Dfe.PrepareConversions/Dfe.PrepareConversions/Dfe.PrepareConversions.csproj
  Dfe.PrepareConversions/Dfe.PrepareConversions/Program.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Startup.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/appsettings.json
  Dfe.PrepareConversions/Dfe.PrepareTransfers.Data.TRAMS/TramsApiException.cs
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

Remove Sentry.io packages and references
  Dfe.PrepareConversions/Dfe.PrepareConversions/Dfe.PrepareConversions.csproj
  Dfe.PrepareConversions/Dfe.PrepareConversions/Program.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Startup.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/appsettings.json
  Dfe.PrepareConversions/Dfe.PrepareTransfers.Data.TRAMS/TramsApiException.cs
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

Fixed date time format issue
  Dfe.PrepareConversions/Dfe.PrepareConversions/Pages/NewProject/Summary.cshtml
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

Improve layer management in Dockerfile
  Dockerfile
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

Changed month to correct format
  Dfe.PrepareConversions/Dfe.PrepareConversions/Pages/NewProject/Summary.cshtml
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

Remove Sentry.io packages and references
  Dfe.PrepareConversions/Dfe.PrepareConversions/Dfe.PrepareConversions.csproj
  Dfe.PrepareConversions/Dfe.PrepareConversions/Program.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/Startup.cs
  Dfe.PrepareConversions/Dfe.PrepareConversions/appsettings.json
  Dfe.PrepareConversions/Dfe.PrepareTransfers.Data.TRAMS/TramsApiException.cs
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

Remove path filters
  .github/workflows/build.yml
Owners: @DrizzlyOwl, @stretch96

Improve layer management in Dockerfile
  Dockerfile
Owners: @paullocknimble, @danielryannimble, @dangood84, @elielijah321, @FahadDarw, @mshakirdfe

Fix project reference
  .github/workflows/build.yml
Owners: @DrizzlyOwl, @stretch96
